.sold {
    /* Type=Positive */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 6px;
    gap: 10px;

    width: 50px;
    height: 25px;

    background: #84F7F7;
    color: #006B0B;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.open-bidding {
    /* Type=Error */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 6px;
    gap: 10px;

    width: 130px;
    height: 25px;

    background: #D0D4D1;
    color: #006B0B;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.open-offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 6px;
    gap: 10px;

    width: 110px;
    height: 25px;

    background: #9FFFA9;
    color: #006B0B;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.in-progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 6px;
    gap: 10px;

    width: 120px;
    height: 25px;

    background: #0B6C15;
    color: #FFF;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}