/* .mar {
  margin: 5rem 5rem 5rem 5rem;
} */
.butt {
  /* Button */

  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 18px;
  gap: 10px;

  height: 28px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: -4px 4px 0px #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.butt-ac{
  transform: translateY(4px) translateX(-4px);
  box-shadow: 0px 0px 0px #000000;
}
