.positive{ /* Type=Positive */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 4px 6px;
gap: 10px;

width: 90px;
height: 25px;

background: #9FFFA9;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.negative{/* Type=Error */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 4px 6px;
gap: 10px;

width: 90px;
height: 25px;

background: #FFA99F;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}