.footerp-css {
    min-width: 100%;
    background-color: #7B61FF;
    color: white;
    max-width: 159px;
    padding: 1%;
}

.butt-footer {
    /* Button */

    font-family: 'Roboto Mono', monospace;
    /* Auto layout */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 18px;
    gap: 10px;

    height: 28px;

    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: -4px 4px 0px #000000;

    /* Inside auto layout */

    order: 0;
}

.butt-ac-footer {
    transform: translateY(4px) translateX(-4px);
    box-shadow: 0px 0px 0px #000000;
}

.btn-group-css{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
}