.scoop-tag {
    font-weight: bold;
    color: #7b61ff;
}

.scoop-title {
    font-weight: bolder;
    text-decoration: none;
}

.scoop-link {
    text-decoration: none;

}

.scoop-txt{
    font-family: 'Roboto Mono', monospace;
}