input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.txt-2 {
  align-items: center;
  text-align: center;
  font-family: "PP Cirka";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin-top: 20px;
}

.social-media-google {
  width: 28px;
  height: 28px;
}

.social-media-linkedin {
  width: 30px;
  height: 30px;
}

.social-btn {
  padding: 0;
  border: none;
  background: none;
}

.img-lock-css {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-right: 0%;
}

.txt-lock-css {
  padding-left: 0%;
  margin-top: 5%;
  font-family: 'PP Cirka';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #216F32;
}

.form-sellbuy-css {
  padding-left: 15%;
  padding-right: 15%;
}

.sign-btn {
  margin-top: 20px;
}

.butto-2 {
  /* Button */

  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 18px;
  gap: 10px;

  /* width: 309px; */
  width: 100%;
  height: 41px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: -4px 4px 0px #000000;
  outline: none !important;
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.btn-2-su {
  /* Rectangle 1 */

  position: absolute;

  /* Fallback */
  background: #7b61ff;
  width: 140px;
  height: 50px;
  font-size: 10px;
  color: white;
  font-weight: 500;
  border: none;
  /* Cut the corner */
  background: linear-gradient(-45deg, transparent 7px, #7b61ff 7px);
  transition: background 2s ease;
}

.input-slider {
  cursor: pointer;
}

.input-range-side-1 {
  font-size: 15px;
  text-align: right;
}

.input-range-side-2 {
  font-size: 15px;
  text-align: left;
}

.con-sb {
  width: 100%;
  height: 100%;
  margin: 0;
}

.con-image-sb {
  width: 100%;
  height: 100%;
}

#leftHalf {
  background: url(../assets/sellbuypic.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
}
#leftHalf-loading{
  background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
}

#rightHalf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
}

.btn-cen-doc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mon-img-sb {
  width: 50px;
  height: 50px;
}

.no-mar-sb {
  margin-top: 0px;
}

.upload-form-sb {
  -webkit-appearance: none;
  cursor: pointer;
  display: none;
}

.file-label {
  cursor: pointer;
}

.uploaded-file-css {
  background-color: rgb(129, 250, 129);
  color: black;
}

.upload-form-sb::-webkit-file-upload-button {
  visibility: hidden;
}

.top-right-css {
  top: 4%;
  right: 4%;
  position: absolute;
}