.img-signup {
  /* width: 500px; */
  /* height: 600px; */
  max-width: 100%;
  max-height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-css-su {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-2 {
  align-items: center;
  text-align: center;
  font-family: "PP Cirka";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  margin-top: 20px;
}

.social-media-google {
  width: 28px;
  height: 28px;
}

.social-media-linkedin {
  width: 30px;
  height: 30px;
}

.social-btn {
  border: none;
  background: none;
}

.sign-btn {}

.butto-2 {
  /* Button */

  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 18px;
  gap: 10px;

  /* width: 309px; */
  width: 100%;
  height: 41px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: -4px 4px 0px #000000;
  outline: none !important;
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.btn-2-suu {
  box-sizing: border-box;
/* Fallback */
background: #7b61ff;
width: 140px;
height: 50px;
font-size: 10px;
color: white;
font-weight: 500;
border: none;
/* Cut the corner */
background: linear-gradient(-45deg, transparent 7px, #7b61ff 7px);
transition: background 2s ease;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.66));
}
.btn-2-suu-pressed{
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.66));

/* transform: translateY(4px) translateX(4px); */
transform: translateY(4px) ;

/* transform:  translateX(-4px); */

}

.input-form:invalid:focus {
  border: 1px solid #7b61ff;
  box-shadow: -4px 4px 0px #7b61ff;
}

.input-form:valid:focus {
  border: 1px solid green;
  box-shadow: -4px 4px 0px green;
}

.mob-v-only {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mob-v-only {
    display: block;
    overflow-x: hidden;
  }
  .form-su{
    margin-top: 150px;
  }
}

