.img-slider {
    position: absolute;
}
   
.ticker-wrapper-h {
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.news-ticker-h {
    display: flex;
    align-content: center;
    justify-content: center;

    padding-left: 45%;
    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: tic-h;
    animation-duration: 30s;

}

.news-ticker-h:hover {
    animation-play-state: paused;
}

.news-ticker-h li {
    display: flex;
    justify-content: center;
    color: white;
    white-space: nowrap;
    font-family: "PP Cirka";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}


@keyframes tic-h {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}