
.cell-t {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 18px;
  gap: 10px;

  width: 145px;
  height: 39px;

  background: #ffffff;
  border: 1px solid #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  text-align: left;
}
.cell-wide-t {
  width: 130px;
}
.cell-last-t {
  width: 130px;
}
.cell-mid-t {
  width: 130px;
}
.purple-b {
  background-color: #7b61ff;
}
mark {
  background-color: rgb(104, 247, 104);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  width: 6rem;
}
.redmark {
  background-color: rgb(243, 146, 94);
}
