.sellbuyreq-css {
    margin-top: 50px;
    font-family: 'PP Cirka';
    font-style: normal;
    box-shadow: 1px 1px 1px 1px #B9B9B9;
    padding: 20px;
}

.selldiv-text-css {

    text-align: left;
}

.sellbuyreq-con-css {
    font-family: 'PP Cirka';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
}

.sellbuyreq-con-des-css {
    font-family: 'PP Cirka';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.sellbuyreq-input-css{
    border: none;
    background-color: #ECECEC;
    height: 38px;
}
.sellbuyreq-input-css:focus{
    outline: none;
}

.label-input-css-sellbuyreq{
    font-family: 'PP Cirka';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 100%;
/* or 18px */


color: #707070;
}



.wrapper {
    display: inline-flex;
    background: #fff;
    width: 240px;
    height: 37px;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper .option-b {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid #B9B9B9;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right-style: none;
    transition: all 0.3s ease;
}

.wrapper .option-s {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid #B9B9B9;
    border-left-style: none;
    transition: all 0.3s ease;
}

.input-display-none {
    display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
    border-color: #B9B9B9;
    background: #ECECEC;
}

/* 
.wrapper .option span {
    font-size: 20px;
    color: #808080;
} */

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
    color: #000;
}